body {
  font-family: 'Roboto', sans-serif;;
  color: white;
  text-align: left;

}

p {
    text-align: justify;
    font-size: 16pt;
}

.titleWrapper{
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
  background-color: var(--blue);
}

.titleWrapper2{
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
  background-color: rgba(23,73,127, 0.75);
}
